.pmodal{
    max-width: 600px;
    width: 400px;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dcf3fd;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47); 
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 10px;
    z-index: 1;

    .modalLeft{
        flex: 20%;
        align-items: center;
        justify-content: center;
        text-align: center;

        img{
            object-fit: cover;
        }
        .avatar{
            width: 150px;
            height: 100px;
            border-radius: 50%;
        }
    }

    .modalRight{
        flex: 80%;
        position: relative;
        align-items: center;
        justify-content: center;
        text-align: center;

        .closeBtn{
            position: absolute;
            top: 20px;
            right: 20px;
            height: 5px;
            width: 5px;
            cursor: pointer;
            color: #e290fa;
        }

        .content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin-top: 2px;

            .content-item{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                cursor: pointer;
                padding-left: 20px;
                padding-right: 20px;
            }

            .pBtn{

            }

            .sBtn{

            }

            h1{
                font-size: 20px;
                color: gray;
            }

            p{

            }
        }

        .btnContainer{
            display: flex;
            padding: 10px;

            button{
                width: 100%;
                margin: .5rem;
                padding: 16px 0;
                border: none;
                color: white;
            }

            .btnPrimary{
                background-color: #00002e;

                .bold{

                }
            }

            .btnOutline{
                background-color: #e290fa;

                .bold{

                }
            }
        }
    }
}